# Backend FastAPI
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
python-dotenv==1.0.0

# LLM
# openai>=1.0.0

# # Google APIs
# google-auth==2.27.0
# google-auth-oauthlib==1.2.0
# google-auth-httplib2==0.2.0
# google-api-python-client==2.116.0

# Notion
notion-client==2.2.1

# Interface utilisateur
streamlit==1.31.0
requests==2.31.0

# Utilitaires
python-dateutil==2.8.2

## LISTES RÉFÉRENCE COMPLÈTES DES PAQUETS INSTALLÉS
# Package                                  Version
# ---------------------------------------- --------------
# absl-py                                  2.1.0
# aiofiles                                 23.2.1
# aiohappyeyeballs                         2.4.6
# aiohttp                                  3.11.12
# aiosignal                                1.3.2
# altair                                   5.5.0
# annotated-types                          0.7.0
# anyio                                    4.8.0
# argon2-cffi                              23.1.0
# argon2-cffi-bindings                     21.2.0
# arrow                                    1.3.0
# asgiref                                  3.8.1
# astroid                                  3.3.8
# asttokens                                2.4.1
# astunparse                               1.6.3
# async-lru                                2.0.4
# asyncer                                  0.0.7
# attrs                                    25.1.0
# autopep8                                 2.3.2
# Babel                                    2.15.0
# beautifulsoup4                           4.12.3
# bidict                                   0.23.1
# black                                    25.1.0
# bleach                                   6.1.0
# blinker                                  1.9.0
# blis                                     0.7.11
# blurhash                                 1.1.4
# boost                                    0.1
# bs4                                      0.0.2
# build                                    0.10.0
# CacheControl                             0.13.1
# cachetools                               5.5.2
# catalogue                                2.0.10
# certifi                                  2025.1.31
# cffi                                     1.16.0
# chainlit                                 2.2.1
# charset-normalizer                       3.4.1
# chevron                                  0.14.0
# cleo                                     2.1.0
# click                                    8.1.8
# cmake                                    3.28.3
# colorama                                 0.4.6
# comm                                     0.2.2
# confection                               0.1.5
# contourpy                                1.2.1
# crashtest                                0.4.1
# cryptography                             42.0.5
# cycler                                   0.12.1
# cymem                                    2.0.8
# dataclasses-json                         0.6.7
# debugpy                                  1.8.2
# decorator                                5.1.1
# deep-translator                          1.11.4
# defusedxml                               0.7.1
# Deprecated                               1.2.18
# dill                                     0.3.9
# distlib                                  0.3.8
# distro                                   1.9.0
# Django                                   5.1.1
# docker                                   7.1.0
# dulwich                                  0.21.7
# et-xmlfile                               1.1.0
# executing                                2.0.1
# fastapi                                  0.115.8
# fastjsonschema                           2.20.0
# filelock                                 3.13.1
# filetype                                 1.2.0
# Flask                                    3.0.3
# Flask-Cors                               4.0.1
# Flask-SQLAlchemy                         3.1.1
# flatbuffers                              24.3.25
# fonttools                                4.53.0
# fqdn                                     1.5.1
# fr-core-news-sm                          3.7.0
# frozenlist                               1.5.0
# fsspec                                   2024.3.1
# gast                                     0.6.0
# gitdb                                    4.0.11
# GitPython                                3.1.43
# google-api-core                          2.28.1
# google-api-python-client                 2.116.0
# google-auth                              2.27.0
# google-auth-httplib2                     0.2.0
# google-auth-oauthlib                     1.2.0
# google-pasta                             0.2.0
# googleapis-common-protos                 1.72.0
# greenlet                                 3.1.1
# grpcio                                   1.76.0
# h11                                      0.14.0
# h5py                                     3.12.1
# HTMLParser                               0.0.2
# httpcore                                 1.0.7
# httplib2                                 0.31.0
# httptools                                0.7.1
# httpx                                    0.28.1
# httpx-sse                                0.4.0
# idna                                     3.10
# importlib_metadata                       8.5.0
# inexactsearch                            1.0.2
# installer                                0.7.0
# ipykernel                                6.29.5
# ipython                                  8.26.0
# isoduration                              20.11.0
# isort                                    6.0.0
# itsdangerous                             2.2.0
# jaraco.classes                           3.4.0
# jedi                                     0.19.1
# Jinja2                                   3.1.5
# joblib                                   1.3.2
# json5                                    0.9.25
# jsonpatch                                1.33
# jsonpointer                              3.0.0
# jsonschema                               4.23.0
# jsonschema-specifications                2024.10.1
# jupyter_client                           8.6.2
# jupyter_core                             5.7.2
# jupyter-events                           0.10.0
# jupyter-lsp                              2.2.5
# jupyter_server                           2.14.1
# jupyter_server_terminals                 0.5.3
# jupyterlab                               4.2.3
# jupyterlab_pygments                      0.3.0
# jupyterlab_server                        2.27.2
# keras                                    3.7.0
# keyring                                  24.3.1
# kiwisolver                               1.4.5
# langchain                                0.3.19
# langchain-community                      0.3.17
# langchain-core                           0.3.36
# langchain-text-splitters                 0.3.6
# langcodes                                3.4.0
# langsmith                                0.3.8
# language_data                            1.2.0
# language_tool_python                     2.9.0
# Lazify                                   0.4.0
# libclang                                 18.1.1
# literalai                                0.1.103
# lxml                                     5.2.2
# marisa-trie                              1.2.0
# Markdown                                 3.6
# markdown-it-py                           3.0.0
# MarkupSafe                               3.0.2
# marshmallow                              3.26.1
# Mastodon.py                              1.8.1
# matplotlib                               3.9.0
# matplotlib-inline                        0.1.7
# mccabe                                   0.7.0
# mdurl                                    0.1.2
# mistune                                  3.0.2
# ml-dtypes                                0.4.1
# more-itertools                           10.5.0
# mpmath                                   1.3.0
# msgpack                                  1.1.0
# multidict                                6.1.0
# murmurhash                               1.0.10
# mypy-extensions                          1.0.0
# namex                                    0.0.8
# narwhals                                 1.19.0
# nbclient                                 0.10.0
# nbconvert                                7.16.4
# nbformat                                 5.10.4
# nest-asyncio                             1.6.0
# networkx                                 3.2.1
# nltk                                     3.9.1
# notebook_shim                            0.2.4
# notion-client                            2.2.1
# numpy                                    1.26.4
# oauthlib                                 3.3.1
# ollama                                   0.4.7
# openai                                   1.10.0
# opencv-python                            4.9.0.80
# openpyxl                                 3.1.3
# opentelemetry-api                        1.29.0
# opentelemetry-exporter-otlp              1.29.0
# opentelemetry-exporter-otlp-proto-common 1.29.0
# opentelemetry-exporter-otlp-proto-grpc   1.29.0
# opentelemetry-exporter-otlp-proto-http   1.29.0
# opentelemetry-instrumentation            0.50b0
# opentelemetry-proto                      1.29.0
# opentelemetry-sdk                        1.29.0
# opentelemetry-semantic-conventions       0.50b0
# opt_einsum                               3.4.0
# optree                                   0.13.1
# orjson                                   3.10.15
# overrides                                7.7.0
# packaging                                24.2
# pandas                                   2.2.3
# pandocfilters                            1.5.1
# parso                                    0.8.4
# pathspec                                 0.12.1
# pexpect                                  4.9.0
# pillow                                   11.0.0
# pip                                      25.0.1
# pkginfo                                  1.11.1
# platformdirs                             4.3.6
# poetry                                   1.6.1
# poetry-core                              1.7.0
# poetry-plugin-export                     1.6.0
# preshed                                  3.0.9
# prometheus_client                        0.20.0
# prompt_toolkit                           3.0.47
# propcache                                0.2.1
# proto-plus                               1.26.1
# protobuf                                 5.29.5
# psutil                                   6.0.0
# ptyprocess                               0.7.0
# pure-eval                                0.2.2
# pyarrow                                  18.1.0
# pyasn1                                   0.6.1
# pyasn1_modules                           0.4.2
# pycodestyle                              2.12.1
# pycparser                                2.22
# pydantic                                 2.10.6
# pydantic_core                            2.27.2
# pydantic-settings                        2.7.1
# pydeck                                   0.9.1
# pyflakes                                 3.2.0
# pygame                                   2.6.1
# Pygments                                 2.18.0
# PyJWT                                    2.10.1
# pylint                                   3.3.4
# pyparsing                                3.1.2
# PyPDF2                                   3.0.1
# pyproject_hooks                          1.1.0
# pyproject-toml                           0.0.10
# PyQt5                                    5.15.10
# PyQt5-Qt5                                5.15.2
# PyQt5-sip                                12.13.0
# PyQt6                                    6.7.0
# PyQt6-Qt6                                6.7.0
# PyQt6-sip                                13.6.0
# pyrsistent                               0.20.0
# PySide6                                  6.7.0
# PySide6_Addons                           6.7.0
# PySide6_Essentials                       6.7.0
# pyspellchecker                           0.8.2
# python-dateutil                          2.9.0.post0
# python-dotenv                            1.0.1
# python-engineio                          4.11.2
# python-json-logger                       2.0.7
# python-magic-bin                         0.4.14
# python-multipart                         0.0.18
# python-socketio                          5.12.1
# pytz                                     2024.2
# pywin32                                  306
# pywin32-ctypes                           0.2.3
# pywinpty                                 2.0.13
# PyYAML                                   6.0.2
# pyzmq                                    26.0.3
# qtwidgets                                1.1
# rapidfuzz                                3.9.7
# referencing                              0.35.1
# regex                                    2023.12.25
# requests                                 2.32.3
# requests-oauthlib                        2.0.0
# requests-toolbelt                        1.0.0
# rfc3339-validator                        0.1.4
# rfc3986-validator                        0.1.1
# rich                                     13.9.4
# rpds-py                                  0.22.3
# rsa                                      4.9.1
# scikit-learn                             1.5.1
# scipy                                    1.14.0
# seaborn                                  0.13.2
# Send2Trash                               1.8.3
# setuptools                               80.9.0
# shellingham                              1.5.4
# shiboken6                                6.7.0
# silpa_common                             0.3
# simple-websocket                         1.1.0
# six                                      1.17.0
# smmap                                    5.0.1
# sniffio                                  1.3.1
# soundex                                  1.1.3
# soupsieve                                2.5
# spacy-legacy                             3.0.12
# spacy-loggers                            1.0.5
# spellchecker                             0.4
# SQLAlchemy                               2.0.38
# sqlparse                                 0.5.1
# srsly                                    2.4.8
# stack-data                               0.6.3
# starlette                                0.41.3
# streamlit                                1.41.1
# syncer                                   2.0.3
# tenacity                                 9.0.0
# tensorboard                              2.18.0
# tensorboard-data-server                  0.7.2
# tensorflow                               2.18.0
# tensorflow_intel                         2.18.0
# termcolor                                2.5.0
# terminado                                0.18.1
# thinc                                    8.2.5
# threadpoolctl                            3.5.0
# tinycss2                                 1.3.0
# toml                                     0.10.2
# tomli                                    2.2.1
# tomlkit                                  0.13.2
# tornado                                  6.4.2
# tqdm                                     4.66.2
# traitlets                                5.14.3
# trove-classifiers                        2024.9.12
# types-python-dateutil                    2.9.0.20240316
# typing_extensions                        4.12.2
# typing-inspect                           0.9.0
# typing-inspection                        0.4.2
# tzdata                                   2024.2
# tzlocal                                  5.3.1
# uptrace                                  1.29.0
# uri-template                             1.3.0
# uritemplate                              4.2.0
# urllib3                                  2.3.0
# uvicorn                                  0.30.5
# validators                               0.35.0
# virtualenv                               20.26.4
# wasabi                                   1.1.3
# watchdog                                 6.0.0
# watchfiles                               0.20.0
# wcwidth                                  0.2.13
# webcolors                                24.6.0
# webencodings                             0.5.1
# websocket-client                         1.8.0
# websockets                               15.0.1
# Werkzeug                                 3.0.3
# wheel                                    0.45.1
# wrapt                                    1.16.0
# wsproto                                  1.2.0
# xlrd                                     2.0.1
# yarl                                     1.18.3
# zipp                                     3.21.0
# zstandard                                0.23.0